<body class="user-bg">

<h1 class="user-trips"><%= user.username%>'s trips</h1>

<% const reversed = user.trip.reverse() %>

<ul class="trips">
  <a class="add-trip" href="/trips/new">+</a>
  <% reversed.forEach((trip) => { %>
    <div class="each">
    <a href="/trips/<%= trip._id %>" class="trip-name"<li class="trip-name"><%= trip.name%></li></a>
    <li><%= trip.startDate%></li>

    <form class="" action="/trips/<%= trip._id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn trips-delete">X</button>
    </form>
    </div>
<%  }) %>
</ul>
