<h1><%= trip.name%></h1>

<ul>
  <a href="/trips/<%= trip._id %>/destinations/new"><li>Add new destination</li></a>
<% if (trip.destinations[0]) { %>
  <ul>

<% const reversed = trip.destinations.reverse() %>

<% reversed.forEach(destination => { %>

    <a href="/trips/<%= trip._id%>/destinations/<%= destination.id%>"><li><%= destination.name %></li></a>
  <% }); %>
  </ul>
<% } %>
  <li>Start date: <%= trip.startDate %></li>
</ul>

<a href="/trips/<%= trip._id %>/edit">Edit</a>

<a href="/trips">Back</a>
