<body class="trip-show-bg">

  <h1 class="user-trips"><%= trip.name%></h1>

  <% const reversed = trip.destinations.reverse() %>

  <ul class="trips">
    <a href="/trips/<%= trip._id %>/destinations/new" class="aTrip"><li>+</li></a>
    <% if (trip.destinations[0]) { %>

      <% reversed.forEach((destination) => { %>
        <div class="each">
        <a href="/trips/<%= trip._id%>/destinations/<%= destination.id%>" class="destination-name"><li class="destination-name"><%= destination.name %></li></a>
        <li class="destination-date"><%= trip.startDate %></li>

        <form class="" action="/trips/<%= destination.trip %>/destinations/<%= destination.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="btn tdelete">X</button>
        </form>
        </div>
        <% }) %>
        <% } %>
      </ul>

      <a href="/trips/<%= trip._id %>/edit" class="btn btn-primary">Edit</a>
      <a href="/users/<%= user._id%>" class="btn btn-primary">Back</a>
